    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:16px;
    caret-color: transparent;
    
    z-index: 1;
    }
    *:focus {
    outline: none;
    }
    h1,h2{
    text-transform: uppercase;
    font-family: Philosopher;
    font-weight: 400;
    font-size: 33px;
    }
    section{
        margin-bottom:50px !important;
    }
    ul{
    list-style: none;
    }

    /* NAVBAR */
    header{
    background-color: #246F7A;
    }
    .navbar{
    display: flex;
    justify-content: space-around;
    gap:185px;
    align-items: center;
    max-width: 1600px;
    padding:6px 50px;
    margin: 0 auto;
    }
    .navbar-logo{
    display: flex;
    align-items: center;

    }
    .logo{
    width: 157px;
    height: 114px;
    border-radius: 30px;
    padding:10px 0px;
    }
    .navbar-links{
    display: flex;
    align-items: center;
    gap:25px;
    display: none;
    }
    .navbar-link{
    text-transform: uppercase;
    color:  #FFFFFF;
    font-size:1rem;
    font-family: Imprima;
    cursor: pointer;
    }
    .navbar-link:hover{
    text-decoration: underline;
    }
    .nav-menu{
    width: 40px;
    height: 40px;
    cursor: pointer;
    }
    /* section massage */

    .leftLeaf{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 400px;
    max-height: 350px;
    width: 100%;
    z-index:0;
    opacity: 0.2;
    }
    .rightLeaf{ 
    position: absolute;
    left: -25px; 
    right: 0;
    top:80px;
    margin-left: auto; 
    margin-right: auto; 
    max-width: 400px;
    max-height: 350px;
    width: 100%;
    z-index:0;
    opacity: 0.2;
    transform: scaleX(-1);
    }
    .campus-massage{
    width: 100%;
    }
    .campus-massage-container{
    background: url("assets/bg-massage.png");
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    }
    .campus-massage-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    width: 100%;
    z-index:2;
    }
    .description-title{
    color:white;
    }
    .description-par{
    font-size:24px;
    font-weight: 400;
    color:white;
    font-family: Inter;
    line-height: 29.05px;
    text-align: center;
    }
    .knowmore-button{
    width: 125px;
    background-color:#37a6b6;
    border-radius: 20px;
    padding:5px 11px;
    text-decoration: none;
    color:white;
    font-family: Inter;
    font-size: 0.85rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 300ms;
    border:1px solid transparent;
    }
    .knowmore-button:hover{
    background-color: #ffffff;
    border: 1px solid #37a6b6;
    color:#37a6b6;
    transition: 300ms;
    }
    .knowmore-button:hover span{
    border: 2px solid #37a6b6;
    transition: 300ms;
    }

    .white-border-span{
    border:2px solid white;
    border-radius: 100%;
    padding:0px 4px;
    transition: 300ms;
    }
    .white-border-span p{
    margin-bottom:2px;
    }
    .massage-image{
    margin-top:50px;
    max-width: 400px;
    max-height: 520px;
    width: 100%;
    }
    .about{
    position: relative;
    padding:20px;
    max-width: 1600px;
    width: 100%;
    margin: 50px auto;
    }
    .about-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    width: 100%;
    position: relative;
    }
    .about-par{
    color:#1B5058;
    width: 75%;
    font-size:24px;
    font-weight: 400;
    font-family: Inter;
    text-align: center;
    }
    .about-title{
    color:#1B5058;
    }


    /* INTERVENTIONS */

    .interventions{
    margin: 0 auto;
    padding:20px;
    max-width: 1600px;
    width: 100%;
    }
    .interventions-title{
    color: #1B5058;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    }
    .interventions-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:50px;
    }
    .intervention-item{
    max-width: 277px;
    border-radius: 20px;
    width: 45%;
    }
    .intervention-item-title,.intervention_item-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: Inter;
    }
    .intervention-item-title{
    font-size: 25px;
    font-weight: 700;
    min-height: 50px;
    border-radius: 20px 20px 0 0;
    background-color: #2C8B99;
    text-transform: uppercase;
    }
    .intervention_item-desc{
    background-color: #246f7a;
    border-radius:0 0 20px 20px;
    font-size:14px;
    font-weight: 400;
    padding:10px 30px 40px 30px;
    text-align:center;
    }
    .intervention-item .knowmore-button{
    margin:-20px auto 0 auto;
    }
    .interventions-img{
    width: 100%;
    height: 100%;
    max-width: 277px;
    max-height: 298px;
    border-radius:0px 20px 0px 20px;
    }
    /* TARIFS */
    .tarifs{
    padding:50px;
    width: 100%;
    background-color: #2C8B99;
    }
    .tarifs-container{
    z-index: 1;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
    .tarifs-title{
    justify-content: center;
    display: flex;
    color: white;
    }
    .tarifs-desc > .knowmore-button{
    width: 80% !important;
    }
    .tarifs-desc-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 70%;
    }
    .tarifs-desc-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }
    .tarifs-desc-item p{
    color: white;
    font-family: Imprima;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: center;
    }
    .tarifs-desc .knowmore-button{
    margin:0 auto 20px auto;
    padding:10px 30px;
    width: 100%;
    }
    .tarifs-img{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 0px 35px 0px 33px;
    }
    .tarifs-desc-item .knowmore-button{
    margin: 5px 5px;
    justify-content: center;
    min-width: 150px;
    font-weight: 400;
    font-size: 1.2rem;
    }
    .tarifs-desc-buttons{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    }
    /* CONTACT */
    .contact{
    padding:20px;
    margin: 50px 0;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    }
    .contact-container{
    max-width: 1600px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap:50px;
    }
    .contact-image-aside{
    position:relative;
    }
    .contact-image{
    top:0;
    z-index:0;
    margin-left: auto; 
    margin-right: auto; 
    left: 0; 
    right: 0; 
    position: absolute;
    max-width: 400px;
    width: 100%;
    opacity: 0.2;
    }
    .contact-desc{
    display: flex;
    align-items: center;
    gap:40px;
    }
    .contact-title{
    color: #1B5058;
    }
    .contact-phone{
    display: none;
    font-size: 25px;
    font-family: ABeeZee;
    font-style: italic;
    line-height: 30px;
    color: #1B5058;
    text-decoration: none;
    }
    .contact-par{
    font-size: 1rem;
    font-family: ABeeZee;
    font-style: italic;
    font-weight: 400;
    color: #1B5058;
    }
    .contact-form{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    }
    .input-field{
    color:white;
    caret-color: white;
    z-index:2;
    background-color: #37A6B6;
    border-radius: 20px;
    padding:10px 20px;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    font-family: ABeeZee;
    text-transform: uppercase;
    border: none;
    width: 100%;
    max-height: 38px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    }
    .input-msg{
    z-index:2;
    background-color: #37A6B6;
    border-radius: 20px;
    padding:10px 20px;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    font-family: ABeeZee;
    text-transform: uppercase;
    border: none;
    width: 100%;
    }
    ::placeholder{
    color:white;
    }
    .contact-form .knowmore-button{
    margin:50px auto;
    }

    /* footer */

    .footer{
    background-color: #246F7A;
    padding:20px;
    }
    .footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    }
    .footer-links{
    display: flex;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
    }
    .footer-item{
    font-size: 13px;
    font-family: ABeeZee;
    font-weight: 400;
    font-style: italic;
    color:white;
    cursor: pointer;
    }
    .footer-item:hover{
    text-decoration: underline;
    }
    .footer-info::before{
    content: '';
    position: absolute;
    top:-7px;
    height: 1px;
    width: 80%;
    background-color: white;
    }
    .footer-info{
    position: relative;
    margin-top:20px;
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-family: ABeeZee;
    font-weight: 400;
    font-style: italic;
    color:white;
    }
    @media (min-width:768px){
    .navbar-links{
        display: flex;
    }
    .nav-menu{
        display: none;
    }
    .navbar{
        justify-content: space-around;
    }
    }
    @media (min-width:768px) and (max-width:1366px){
    .description-par, .about-par{
        max-width: 800px;
    }
    }
    @media (min-width:1366px){
    h1,h2{
        font-size: 45px;
    }
    .rightLeaf{
        top:0;
        margin:0;
        margin:0;
        position:relative;
    }
    .leftLeaf{
        margin:0;
        top:0;
        left:-10px;
    }
    .campus-massage-container{
        flex-direction: row;
        justify-content: center;
    }
    .campus-massage-description{
        width: 50%;
        align-items: start;
    }

    .description-par{
        width: 79%;
        text-align: start;
    }
    .about-container{
        display: flex;
        justify-content: center;
    }
    .about-description{
        width: 50%;
        align-items: start;
    }
    .about-par{
        text-align: start;
    }
    .tarifs-container{
        flex-direction: row;
        align-items: self-start;
        justify-content: space-around;
        position: relative;
    }
    .tarifs-desc{
        display: flex;
        flex-direction: column;
        margin: auto auto;
    }

    .tarifs-desc-buttons{
        flex-direction: row;
        gap:0px;
    }
    .contact-container{
        width: 50%;
        justify-content: center;
    }
    .contact-image-aside{
        display: flex;
        justify-content: space-around;
    }
    .contact-image{
        opacity: 1;
        position:relative;
        margin:0;
    }
    .footer-container{
            flex-direction: row;
            justify-content: center;
            gap:50px;
    }
    .footer-links{
        gap:50px;
    }
    .footer-info::before{
        top:-16px;
    }
    .input-field{
        width: 49%;
    }
    }
    @media (min-width:1298px){
    .intervention-item{
        max-width: 100%;
        width: 30%;
    }
    .intervention-item:last-child{
        display: none;
    }

    }
    @media (max-width:600px) {
    .intervention-item{
        width: 80%;
    }
    }