$lightBlueButton: #37A6B6;
$lightBlueBackground: #2C8B99;
$darkBlue: #1B5058;
$menuBlue :#246F7A;

@mixin title($size : 33px, $color: #ffffff){
    font-size: $size;
    color:$color;
    font-family: Philosopher;
    text-transform: uppercase;
    font-weight: 400;
}
*{
    font-size:16px;
}
h1,h2{
    @include title;
}
section{
    margin-bottom:50px !important;
}
.leftLeaf{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 400px;
    max-height: 350px;
    width: 100%;
    z-index:0;
    opacity: 0.2;
}
.rightLeaf{ 
    position: absolute;
    left: -25px; 
    right: 0;
    top:25px;
    margin-left: auto; 
    margin-right: auto; 
    max-width: 400px;
    max-height: 350px;
    width: 100%;
    z-index:0;
    opacity: 0.2;
    transform: scaleX(-1);
}
.knowmore-button {
    width: 125px;
    background-color: $lightBlueButton;
    border-radius: 20px;
    padding: 5px 11px;
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-size: 0.85rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 300ms;
    border: 1px solid transparent;
    text-wrap: nowrap; }
  
.knowmore-button:hover {
    background-color: #ffffff;
    border: 1px solid $lightBlueButton;
    color: $lightBlueButton;
    transition: 300ms; }
  
.knowmore-button:hover span {
    border: 2px solid $lightBlueButton;
    transition: 300ms; }
  
.white-border-span {
    border: 2px solid white;
    border-radius: 100%;
    padding: 0px 4px;
    transition: 300ms; }
  
.white-border-span p {
    margin-bottom: 2px; }

::placeholder{
    color:white;
}
.logo{
    width: 157px;
    height: 114px;
    border-radius: 30px;
    padding:10px 0px;
}

@media (min-width: 1366px) {
    
    h1, h2 {
        font-size: 45px; }
    
    .rightLeaf {
        top: 0;
        margin: 0;
        margin: 0;
        position: relative; }
    
    .leftLeaf {
        margin: 0;
        top: 0;
        left: -10px; }
    }