*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:16px;
    caret-color: transparent;
    
    z-index: 1;
    :focus {
        outline: none;
    }

}
ul{
    list-style: none;
}